# Template for Expo Apollo Client URI configuration
# For Physical Device / Expo Go: use your computer's local network IP address
# For Android Emulator: http://10.0.2.2:4000/graphql
# For iOS Simulator / Web: http://localhost:4000/graphql
EXPO_PUBLIC_APOLLO_URI=http://192.168.1.100:4000/graphql
